.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headingMain{
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-left: 1rem;
}

.headingSecond{
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-left: 1rem;
  color:#8d8d8d;
}

.headingLgLayout {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  padding-left: 1rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.theheaderWrapper{
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.theheaderInsider{
  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #666;
  padding: 16px 0px;
  transition: background-color 0.5s ease;
}

.theheaderInsiderDark {
  background-color: #1c1f24;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #1976d2;
  padding: 16px 0px;
  transition: background-color 0.5s ease;
}

@media (max-width:700px){
  .header{
    flex-direction: column;
  }
  .headingMain,.headingSecond,.headingLgLayout{
    padding: 0;
  }
}